/* Index.html start */

.bg-dark {
  /* width: 100%; */
  background-image: url(assets/kazuha.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.bg-dark marquee {
  color: rgb(0, 0, 0);
}

.head1 {
  color: orangered;
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.main-div {
  position: absolute;
  top: 51%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  padding: 50px;
  border-radius: 5px;
}

.main-div a {
  font-family: "Times New Roman", Times, serif;
  color: black;
  text-decoration: none;
}

.main-div a:hover {
  color: #dd4814;
  text-decoration: underline;
}

.main-div li {
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.main-div h4,
p {
  color: black;
}

.main-div-2 h4 {
  color: black;
}

.main-div-2 {
  position: absolute;
  top: 11%;
  left: 30%;
}

.main-div-2 a {
  font-family: "Times New Roman", Times, serif;
  color: black;
  text-decoration: none;
}

.main-div-2 a:hover {
  color: #dd4814;
  text-decoration: underline;
}

/* Index.html end */

.pr1 {
  /* min-height: 100vh; */
  width: 100%;
  background-image: linear-gradient(rgba(4, 8, 30, 0.7), rgba(4, 8, 30, 0.7)),
    url(assets/back.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.pr2 {
  /* min-height: 100vh; */
  width: 100%;
  background-image: linear-gradient(rgba(4, 8, 30, 0.7), rgba(4, 8, 30, 0.7)),
    url(assets/gundam.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.pr3 {
  /* min-height: 100vh; */
  width: 100%;
  background-image: linear-gradient(rgba(4, 8, 30, 0.7), rgba(4, 8, 30, 0.7)),
    url(assets/yellow.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.pr5 {
  /* min-height: 100vh; */
  width: 100%;
  background-image: linear-gradient(rgba(4, 8, 30, 0.7), rgba(4, 8, 30, 0.7)),
    url(assets/itachi.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.yeet {
  /* min-height: 100vh; */
  width: 100%;
  background-image: linear-gradient(rgba(4, 8, 30, 0.7), rgba(4, 8, 30, 0.7)),
    url(assets/carback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.input {
  /* min-height: 100vh; */
  width: 100%;
  background-image: linear-gradient(rgba(4, 8, 30, 0.7), rgba(4, 8, 30, 0.7)),
    url(assets/gundam.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.list {
  /* min-height: 100vh; */
  width: 100%;
  background-image: linear-gradient(rgba(4, 8, 30, 0.7), rgba(4, 8, 30, 0.7)),
    url(assets/urban-ninja-anime-art.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
