.nav-body {
  background: url(/assets/urban-ninja-anime-art.jpg) no-repeat;
  background-size: cover;
  position: relative;
}

.nav-body h3 {
  color: rgb(248, 229, 123);
}

.nav-1 {
  margin-top: 20px;
  margin: 0px;
  padding: 30px;
}

.nav-1 a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  margin: 20px;
  border-radius: 5px;
  background: rgb(245, 244, 224);
  transition: all 0.5s;
}

.nav-1 a:hover {
  text-decoration: none;
  color: rgb(39, 240, 156);
}

.nav-2 {
  margin-top: 20px;
  margin: 0px;
  padding: 50px;
}

.nav-2 a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0px;
  border-radius: 5px;
  font: arial;
}

.nav-2 button {
  color: rgb(221, 40, 64);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  background: rgb(199, 236, 129);
  transition: all 0.5s;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.nav-2 a:hover {
  text-decoration: none;
  color: rgb(39, 240, 156);
}
